<!DOCTYPE html>
<html class="{% block pageMod %}{% endblock %}">
<head>
    <meta name="viewport" content="width=device-width">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
    <meta name="format-detection" content="telephone=no">
    {#<link rel="shortcut icon" href="{{ asset('bundles/glenephackadmin/images/favicon.ico') }}" type="image/x-icon">#}
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('bundles/glenephackadmin/css/vendor.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/glenephackadmin/css/common.css') }}">
    {% block styles %}{% endblock %}
    <script src="{{ asset('bundles/glenephackadmin/js/vendor.js') }}"></script>
    {#<script src="{{ asset('bundles/glenephackadmin/js/templates.js') }}"></script>#}
    <script src="{{ asset('bundles/glenephackadmin/js/common.js') }}"></script>
    {% block scripts %}{% endblock %}
</head>
<body class="body">
<div class="wrapper">

    <div class="content main-block">
        {% block content %}{% endblock %}
    </div>

</div>
</body>
</html>