{% extends '@GlenephackAdminBundle/base.html.twig' %}
{% block meta %}<title>ORC</title>{% endblock %}

{% block content %}
    <div class="module-list">
        <ul class="nav nav-sidebar">
            <li class="home-nav">
                <a class="home-nav-link" href="{{ path('index') }}">
                    <i class="mdi mdi-backspace"></i>
                    <span>Главная</span>
                </a>
            </li>
            {% for module in moduleList %}
                {% if module.isVisible %} {#and module.checkPermission(app.user)#}
                    <li {{ module.isActive ? 'class="active"' }}>
                        <a class="module-enable" href="{{ path('glenephack_module_page', {template: module.name | lower}) }}" data-module-name="{{ module.name }}">
                            <i class="mdi mdi-{{ module.icon }}"></i>
                            <span>{{ module.title }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="module-content">
        {% include '@GlenephackAdminBundle/module/module.html.twig' with {module: module} %}
    </div>
{% endblock %}