@font-face {
  font-family: "NotoSans-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/NotoSans-Bold.eot");
  src: url("../fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "NotoSans-Bolditalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/NotoSans-Bolditalic.eot");
  src: url("../fonts/NotoSans-Bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Bolditalic.ttf") format("truetype"); }

@font-face {
  font-family: "NotoSans-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/NotoSans-Regular.eot");
  src: url("../fonts/NotoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "NotoSans-Regularitalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/NotoSans-Regularitalic.eot");
  src: url("../fonts/NotoSans-Regularitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Regularitalic.ttf") format("truetype"); }

@font-face {
  font-family: "NotoSerif-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/NotoSerif-Bold.eot");
  src: url("../fonts/NotoSerif-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSerif-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "NotoSerif-Bolditalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/NotoSerif-Bolditalic.eot");
  src: url("../fonts/NotoSerif-Bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSerif-Bolditalic.ttf") format("truetype"); }

@font-face {
  font-family: "NotoSerif-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/NotoSerif-Regular.eot");
  src: url("../fonts/NotoSerif-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSerif-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "NotoSerif-Regularitalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/NotoSerif-Regularitalic.eot");
  src: url("../fonts/NotoSerif-Regularitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSerif-Regularitalic.ttf") format("truetype"); }

body {
  width: 100%;
  height: 100vh;
  font-family: 'NotoSans-Regular';
  font-size: 13px; }
  body .loadmask {
    background-color: #fff; }
  body .wrapper .main-block {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 80px 1fr; }
    body .wrapper .main-block .module-list {
      background-color: #3a3a3a; }
      body .wrapper .main-block .module-list .nav-sidebar li {
        text-align: center; }
        body .wrapper .main-block .module-list .nav-sidebar li a {
          display: block;
          color: #d2d2d2;
          height: 80px;
          line-height: 1.35; }
          body .wrapper .main-block .module-list .nav-sidebar li a i {
            font-size: 32px; }
        body .wrapper .main-block .module-list .nav-sidebar li:hover {
          background-color: #313131;
          cursor: pointer; }
      body .wrapper .main-block .module-list .nav-sidebar .active {
        background-color: #313131; }
    body .wrapper .main-block .module-content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 65px 1fr;
      background-color: #ffffff; }
      body .wrapper .main-block .module-content form {
        display: contents; }
      body .wrapper .main-block .module-content .module-header {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 400px 1fr 1fr;
        background-color: #e4e4e4;
        box-shadow: 0px 9px 20px 0px rgba(58, 58, 58, 0.25); }
        body .wrapper .main-block .module-content .module-header .module-name {
          font-family: 'NotoSerif-Regular';
          font-size: 26px;
          color: #808080;
          margin-left: 10px;
          align-self: center; }
        body .wrapper .main-block .module-content .module-header .module-filters {
          display: grid;
          grid-gap: 15px;
          grid-template-columns: 250px auto;
          grid-template-rows: 1fr;
          grid-column-end: none;
          align-items: center;
          height: 100%;
          margin-right: 25px; }
          body .wrapper .main-block .module-content .module-header .module-filters .module-filter .filter-search {
            width: 100%;
            max-height: 28px;
            font-size: 14px; }
        body .wrapper .main-block .module-content .module-header .module-actions {
          display: grid;
          grid-row: 1;
          grid-column: 5;
          grid-column-end: none;
          align-items: center;
          margin-right: 10px; }

body .wrapper .main-block .module-content .select2 {
  min-width: 150px; }
  body .wrapper .main-block .module-content .select2 .selection .select2-selection .select2-selection__rendered {
    color: #808080; }

body .wrapper .main-block .module-content .module-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35px 1fr;
  margin-top: 10px; }
  body .wrapper .main-block .module-content .module-block .module-block-filters {
    align-self: center; }
    body .wrapper .main-block .module-content .module-block .module-block-filters .select2 {
      margin-left: 10px; }
  body .wrapper .main-block .module-content .module-block .module-block-content {
    grid-row: 2; }
    body .wrapper .main-block .module-content .module-block .module-block-content .module-block-table {
      margin: 15px 10px; }
      body .wrapper .main-block .module-content .module-block .module-block-content .module-block-table .table-content {
        width: 100%; }
        body .wrapper .main-block .module-content .module-block .module-block-content .module-block-table .table-content td, body .wrapper .main-block .module-content .module-block .module-block-content .module-block-table .table-content th {
          max-width: 400px;
          overflow: hidden;
          text-overflow: ellipsis; }
        body .wrapper .main-block .module-content .module-block .module-block-content .module-block-table .table-content .table-header {
          font-size: 16px;
          font-family: 'NotoSerif-Regular';
          color: #fff;
          background-color: #7eb5d5;
          height: 40px; }
          body .wrapper .main-block .module-content .module-block .module-block-content .module-block-table .table-content .table-header .table-field {
            text-align: center; }
        body .wrapper .main-block .module-content .module-block .module-block-content .module-block-table .table-content .table-record {
          color: #808080;
          height: 40px; }
          body .wrapper .main-block .module-content .module-block .module-block-content .module-block-table .table-content .table-record .record-field {
            text-align: center; }
          body .wrapper .main-block .module-content .module-block .module-block-content .module-block-table .table-content .table-record .record-actions ul {
            display: grid;
            grid-template-rows: 1fr;
            justify-content: center;
            margin: 0;
            padding: 0;
            list-style: none; }
            body .wrapper .main-block .module-content .module-block .module-block-content .module-block-table .table-content .table-record .record-actions ul li {
              padding: 5px;
              grid-row: 1; }
              body .wrapper .main-block .module-content .module-block .module-block-content .module-block-table .table-content .table-record .record-actions ul li:hover {
                cursor: pointer;
                color: #484848; }
          body .wrapper .main-block .module-content .module-block .module-block-content .module-block-table .table-content .table-record:nth-child(even) {
            background-color: #f8f6fe; }
          body .wrapper .main-block .module-content .module-block .module-block-content .module-block-table .table-content .table-record:nth-child(odd) {
            background-color: #ffffff; }
      body .wrapper .main-block .module-content .module-block .module-block-content .module-block-table .table-more-records {
        margin-top: 25px; }
        body .wrapper .main-block .module-content .module-block .module-block-content .module-block-table .table-more-records nav ul li a {
          color: #6c747d; }
          body .wrapper .main-block .module-content .module-block .module-block-content .module-block-table .table-more-records nav ul li a:hover {
            cursor: pointer; }
        body .wrapper .main-block .module-content .module-block .module-block-content .module-block-table .table-more-records nav ul .active {
          pointer-events: none;
          cursor: default; }
          body .wrapper .main-block .module-content .module-block .module-block-content .module-block-table .table-more-records nav ul .active a {
            color: #fff; }
  body .wrapper .main-block .module-content .module-block .not-module {
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center; }
