<form id="form-module-table" method="post" action="{% if module.moduleName is defined %}{{ path('glenephack_module_page', {template: module.moduleName | lower}) }}{% endif %}">
    <div class="module-header">
        <div class="module-name">
            {% if module.moduleName is defined %}
                <span data-entity="{{ module.moduleName | lower }}">{{ module.moduleName }}</span>
            {% endif %}
        </div>
        <div class="module-filters">
            <div class="module-filter">
                <input class="filter-search form-control" type="text" placeholder="Поиск">
            </div>
            <div class="module-filter">
                <select class="filter-sort select2-has-data form-select">
                    <option class="blocked-sort-option" selected disabled value="id" data-order="DESC">Сортировать</option>
                    {% if module.sorts is defined %}
                        {% for sort in module.sorts %}
                            <option value="{{ sort.field }}" data-order="{{ sort.order }}">{{ sort.title }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="module-actions">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="module-action">
                    <button class="btn btn-primary btn-sm action-add">Добавить</button>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="module-block">
        {% if module is defined and module is not null %}
            <div class="module-block-filters">
                {% if module.filters is defined %}
                    {% for filter in module.filters %}
                        <select class="select2 form-select select2-filters"
                                data-ajax-url="{{ path('glenephack_search_entity_fields') }}"
                                data-entity="{{ filter.entity }}"
                                data-field="{{ filter.field }}"
                                data-alias="{{ filter.alias }}"
                                data-limit="15">
                            <option selected value="">{{ filter.title }}</option>
                        </select>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="module-block-content">
                <div class="module-block-table">
                    {% include '@GlenephackAdminBundle/module/table/table.html.twig' with {records: module.records, fieldNames: module.fieldNames, pagination: module.pagination} %}
                </div>
            </div>
        {% else %}
            <div class="error not-module">
                <p>Пожалуйста, выберите интересующий вас раздел</p>
            </div>
        {% endif %}
    </div>
</form>