<table class="table-content">
    <tr class="table-header">
        {% for fieldName in fieldNames %}
            <th class="table-field">{{ fieldName }}</th>
        {% endfor %}
    </tr>

    {% for record in records %}
        <tr class="table-record">
            {% for field in record %}
                <td class="record-field {% if loop.first %}record-field-id{% endif %}">{{ field }}</td>
                {% if loop.last %}
                    <td class="record-actions">
                        <ul>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><i class="mdi mdi-pencil-outline record-edit"></i></li>
                                <li data-route="{{ path('glenephack_delete_object') }}"><i class="mdi mdi-delete-outline record-delete"></i></li>
                            {% endif %}
                        </ul>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<div class="table-more-records">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if pagination.countPages == 1 %}
                {% set countPages = pagination.countPages - 1 %}
            {% else %}
                {% set countPages = pagination.countPages %}
            {% endif %}

            <li class="page-item page-item-prev {% if pagination.currentPage == 0 %}disabled{% endif %}">
                <a class="page-link">Назад</a>
            </li>

            {% for pageNumber in 0..countPages %}
                <li class="page-item {% if pageNumber == pagination.currentPage %}active{% endif %}" data-page-number="{{ pageNumber }}"><a class="page-link">{{ pageNumber + 1 }}</a></li>
            {% endfor %}

            <li class="page-item page-item-next {% if pagination.currentPage == countPages %}disabled{% endif %}">
                <a class="page-link">Вперед</a>
            </li>
        </ul>
    </nav>
</div>