@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), /*url('#{$file-path}.woff') format('woff'),*/ url('#{$file-path}.ttf') format('truetype');
  }
}

@include font-face('NotoSans-Bold', '../fonts/NotoSans-Bold');
@include font-face('NotoSans-Bolditalic', '../fonts/NotoSans-Bolditalic');
@include font-face('NotoSans-Regular', '../fonts/NotoSans-Regular');
@include font-face('NotoSans-Regularitalic', '../fonts/NotoSans-Regularitalic');

@include font-face('NotoSerif-Bold', '../fonts/NotoSerif-Bold');
@include font-face('NotoSerif-Bolditalic', '../fonts/NotoSerif-Bolditalic');
@include font-face('NotoSerif-Regular', '../fonts/NotoSerif-Regular');
@include font-face('NotoSerif-Regularitalic', '../fonts/NotoSerif-Regularitalic');