body {
  width: 100%;
  height: 100vh;
  font-family: 'NotoSans-Regular';
  font-size: 13px;

  .loadmask {
    background-color: #fff;
  }

  .wrapper {
    .main-block {
      height: 100vh;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 80px 1fr;

      .module-list {
        background-color: #3a3a3a;

        .nav-sidebar {
          li {
            text-align: center;

            a {
              display: block;
              color: #d2d2d2;
              height: 80px;
              line-height: 1.35;

              i {
                font-size: 32px;
              }
            }

            &:hover {
              background-color: #313131;
              cursor: pointer;
            }
          }

          .active {
            background-color: #313131;
          }
        }
      }

      .module-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 65px 1fr;
        background-color: #ffffff;

        form {
          display: contents;
        }

        .module-header {
          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: 400px 1fr 1fr;
          background-color: #e4e4e4;
          box-shadow: 0px 9px 20px 0px rgba(58,58,58,0.25);

          .module-name {
            font-family: 'NotoSerif-Regular';
            font-size: 26px;
            color: #808080;
            margin-left: 10px;
            align-self: center;
          }

          .module-filters {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: 250px auto;
            grid-template-rows: 1fr;
            grid-column-end: none;
            align-items: center;
            height: 100%;
            margin-right: 25px;

            .module-filter {
              .filter-search {
                width: 100%;
                max-height: 28px;
                font-size: 14px;
              }
            }
          }

          .module-actions {
            display: grid;
            grid-row: 1;
            grid-column: 5;
            grid-column-end: none;
            align-items: center;
            margin-right: 10px;
          }
        }
      }
    }
  }
}