body {
  .wrapper {
    .main-block {
      .module-content {
        .select2 {
          min-width: 150px;

          .selection {
            .select2-selection {
              .select2-selection__rendered {
                color: #808080;
              }
            }
          }
        }

        .module-block {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 35px 1fr;
          margin-top: 10px;

          .module-block-filters {
            align-self: center;

            .select2 {
              margin-left: 10px;
            }
          }

          .module-block-content {
            grid-row: 2;

            .module-block-table {
              margin: 15px 10px;

              .table-content {
                width: 100%;

                td, th {
                  max-width: 400px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                .table-header {
                  font-size: 16px;
                  font-family: 'NotoSerif-Regular';
                  color: #fff;
                  background-color: #7eb5d5;
                  height: 40px;

                  .table-field {
                    text-align: center;
                  }
                }

                .table-record {
                  color: #808080;
                  height: 40px;

                  .record-field {
                    text-align: center;
                  }

                  .record-actions {
                    ul {
                      display: grid;
                      grid-template-rows: 1fr;
                      justify-content: center;
                      margin: 0;
                      padding: 0;
                      list-style: none;

                      li {
                        padding: 5px;
                        grid-row: 1;

                        &:hover {
                          cursor: pointer;
                          color: #484848;
                        }
                      }
                    }
                  }

                  &:nth-child(even) {
                    background-color: #f8f6fe;
                  }

                  &:nth-child(odd) {
                    background-color: #ffffff;
                  }
                }
              }

              .table-more-records {
                margin-top: 25px;

                nav {
                  ul {
                    li {
                      a {
                        color: #6c747d;

                        &:hover {
                          cursor: pointer;
                        }
                      }
                    }

                    .active {
                      pointer-events: none;
                      cursor: default;

                      a {
                        color: #fff;
                      }
                    }
                  }
                }
              }
            }
          }

          .not-module {
            height: 100%;
            display: grid;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}